@page "/tasks"
@rendermode InteractiveServer
@inject TaskService taskService

<PageTitle>Tasks</PageTitle>

<h3>My Tasks</h3>

@* <input @bind="newTask" placeholder="New task" />
<button class="btn btn-primary" @onclick="AddTask">Add</button> *@

<ul>
    @foreach (var task in tasks)
    {
        <li>
            <input type="checkbox"
                   checked="@task.IsCompleted"
                   @onchange="() => Toggle(task.Id)" />

            <span style="@(task.IsCompleted ? "text-decoration: line-through" : "")">
                @task.Title
            </span>
        </li>
    }
</ul>

<EditForm Model="newTask" OnValidSubmit="AddTask">
    <InputText @bind-Value="newTask" placeholder="New task" />
    <button type="submit" class="btn btn-primary">Add</button>
    <ValidationMessage For="() => newTask" />
</EditForm>

@code {
    string newTask = "";
    List<TodoTask> tasks = new();
    async Task TasksStateChanged()
    {
        tasks = await taskService.GetTasksAsync();
    }
    protected override async Task OnInitializedAsync()
    {
        await TasksStateChanged();
    }
    // protected override async Task OnParametersSetAsync()
    // {
    //     await TasksStateChanged();
    // }
    // protected override async Task OnAfterRenderAsync(bool firstRender)
    // {
    //     if (firstRender)
    //     {
    //         await TasksStateChanged();
    //         StateHasChanged();
    //     }
    // }
    async Task AddTask()
    {
        if (!string.IsNullOrWhiteSpace(newTask))
        {
            await taskService.AddTaskAsync(newTask);
            newTask = "";
        }
        else
        {
            var editContext = new EditContext(newTask);
            var messages = new ValidationMessageStore(editContext);
            messages.Add(() => newTask, "Error");
            StateHasChanged(); 
        }
        await TasksStateChanged(); 
    }

    async Task Toggle(int id)
    {
        await taskService.ToggleAsync(id);
        await TasksStateChanged();
    }
}
